NODE_ENV=production
HOST=127.0.0.1
PORT=3000
COOKIE_SECURE=true
ADMIN_USERNAME=polynomial
ADMIN_PASSWORD=REPLACE_WITH_A_LONG_RANDOM_PASSWORD
POLYNOMIAL_DATA_DIR=/var/lib/polynomial-server
KATAGO_BIN=/usr/local/bin/katago
KATAGO_MODEL=/var/lib/polynomial-katago/model.bin.gz
KATAGO_CONFIG=/var/lib/polynomial-katago/gtp.cfg
